@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Outfit:wght@400;700&family=Pangolin&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #D5E1EF;

}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 152px 0px 151px 0px;
}

.container{
    background-color: white;
    height: 497px;
    width: 320px;
    padding: 16px;
    border-radius: 20px;
    display: block;
    justify-content: center;
}
.child{
    justify-content: center;
    align-items: center;
    background-color: #2C7DFA;;
    display: flex;
    width: 288px;
    height: 288px;
    border-radius: 10px;
    

}
h1{
text-align: center;
color: #1F314F;
font-family: outfit;
font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin: 24px 16px 16px 16px;
}
p{
    font-size: 15px;
    margin: 0 16px 40px 16px;
    text-align: center; 
    font-weight: 400;
    font-family: outfit;
    color: #7D889E;
}